<%- include('includes/head.ejs') %>

    <form action="/add-users" method="POST">
        <input type="text" name="title">
        <button type="submit">Submit</button>
    </form>

<%- include('includes/foot.ejs') %>